<% @products.each do |product| %>
  <div class="product" id="product_<%= product.id %>">
    <ul>
      <li>
        <h1><%= product.name %></h1>
      </li>
      <li class="description">
        <%= truncate product.description %><br />
        <button class="js-more" data-id="<%= product.id %>">More Info</button>
      </li>
    </ul>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      let desc = data
      $.get("/products/" + id + "/inventory", function(inventory) {
        if (inventory === 'true') {
          let inv = 'Available';
        } else {
          let inv = 'Sold Out';
        }
        let html = desc + ' <br />' + inv;
        $("#product_" + id + " li.description").text(html);
      });
    });
  });
});
</script>
